html {
    font-size: 62.5%;
    font-family: 'Tahoma', sans-serif;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #9bb698;
    /*background-color: #9bb698;*/
    background-image: linear-gradient(#9bb6aa,#9bb698);
    padding: 13px;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

hr {
    border-color: #2c8898;
}

img {
    max-width: 50vh;
}

.linkie {
  font-size: 20px;
  font-family: 'Tahoma', sans-serif;
  align-items: center;
  text-align: center;
}

.drop-zone {
  max-width: 150px;
  max-height: 150px;
  height: 150px;
  width: 150px;
  padding: 0px;
  margin-left: 9px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Tahoma', sans-serif;
  font-weight: 500;
  font-size: 20px;
  background-color: #689f97;
  cursor: pointer;
  color: #cccccc;
  border: 4px dashed #51837c;
  border-radius: 10px;
  background-image:url('./ac.png');
}

.drop-zone--over {
  border: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__prompt {
  color: #240740;
}

.drop-zone__prompt {
  color: #240740;
}


.menu{
  margin-bottom: 1px;
  margin-top: 1px;
  text-align:center}

.menu .button{
  -webkit-transition: all 0.3s ease;   transition: all 0.3s ease;
  cursor: pointer;
  display: inline-block;
  padding: 1px;
  color: #fff;
  font-family: sans-serif;
  font-size: 12px;
  margin-right: 1px;
  margin-left: 1px;
  background-color: #51837c;
  margin-bottom: 1px;
  margin-top: 0px
}
.menu .button.selected{
  background-color: #9edacb;
  color: #000
}

@media (min-width: 120px) {
.menu .button:hover {
   background-color: #9edacb;
   color: #000
  }
}

@media (max-width: 120px) {
.menu .button{
    display: block;
  }
}

.dropdowns{
  align-content: center;
  align: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}
